.login-page {
  display: flex;
  width: 88%;
  height: 700px;
  margin: 10px;
}
.back-line {
  display: flex;
  width: 50%;
  height: 102%;
  border: solid 2px black;
  justify-content: center;
  align-items: center;
}
.session-form .link-sign {
  text-decoration: none;
  color: rgb(217, 100, 120);
}

.link-sign {
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #9b3eca 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.link-sign:before {
  content: "";
  background: #c754d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.link-sign:hover::before {
  width: 100%;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 90%;
  border: solid 5px black;
  justify-content: center;
  align-items: center;
  background-image: url(./monet.jpeg);
  background-color: #dbcdda;
}

.login-page-image {
  display: flex;
  position: relative;
  width: 50%;
  height: 102%;
  border: solid 2px black;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.page-img {
  /* display: block; */
  width: 80%;
  height: 90%;
  border: 5px solid black;
  background-color: white;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 20px;
  color: #fff;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  color: #fff;
}

.bottom-right {
  margin: 0;
}

.text-overlay h1 {
  /* text-shadow: 1px 1px 1px #000, 
    3px 3px 5px blue; */
  font-size: 24px;
  background-color: cornflowerblue;
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 2px 0px rgba(64, 116, 181, 1),
    2px -2px 0px rgba(64, 116, 181, 1), -2px 2px 0px rgba(64, 116, 181, 1),
    -2px -2px 0px rgba(64, 116, 181, 1), 2px 0px 0px rgba(64, 116, 181, 1),
    0px 2px 0px rgba(64, 116, 181, 1), -2px 0px 0px rgba(64, 116, 181, 1),
    0px -2px 0px rgba(64, 116, 181, 1);
}

.text-overlay p {
  font-size: 50px;
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 2px 0px rgba(64, 116, 181, 1),
    2px -2px 0px rgba(64, 116, 181, 1), -2px 2px 0px rgba(64, 116, 181, 1),
    -2px -2px 0px rgba(64, 116, 181, 1), 2px 0px 0px rgba(64, 116, 181, 1),
    0px 2px 0px rgba(64, 116, 181, 1), -2px 0px 0px rgba(64, 116, 181, 1),
    0px -2px 0px rgba(64, 116, 181, 1);
}

.login-form {
  /* display: flex; */
  width: 80%;
  height: 90%;
  border: 3px solid black;
  background-color: white;
}

.session-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.session-form input[type="text"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0 15px;
  padding: 7px 90px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.29em;
}
.session-form input[type="password"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 15px;
  padding: 7px 90px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.29em;
}
.session-form .submit-style-this::placeholder {
  text-align: start;
}

.submit-style-this {
  height: 50%;
  width: 95%;
  padding: 0.5em 3em;
  text-align: center;
  font-size: 16px;
  text-align: center;
  border-radius: 0.2em;
  border: 2px solid black;
  background-color: black;
  transition: 1s;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-bottom: 10px;
  margin-top: 15px;
}
.demo {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin: 0px 0px 0px;
  padding: 10px 60px;
  background: black;
  color: white;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.29em;
  cursor: pointer;
  text-align: center;
  transition: 1s;
}
.demo-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.session-form h2 {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 40px;
  line-height: 1.28571em;
  color: rgb(70, 68, 68);
  text-align: center;
  padding-bottom: 10px;
  display: block;
  margin: 0 0 0px;
  letter-spacing: 2px;
}

.session-form label {
  font-size: 20px;
  margin-bottom: 1px;
  color: #333333;
  font-weight: 800;
}

.form-login {
  margin: 40px;
}
.session-form input[type="text"]::placeholder {
  text-align: center;
}
.session-form input[type="password"]::placeholder {
  text-align: center;
}

.page-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.demo-user-from {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.demo:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}
