.signup-page {
  display: flex;
  width: 100%;
  height: 720px;
  margin: 20px;
}

.sign-back-line {
  display: flex;
  width: 50%;
  height: 102%;
  border: solid 2px black;
  justify-content: center;
  align-items: center;
}

.sign-form-container {
  display: flex;
  width: 80%;
  height: 90%;
  border: solid 5px black;
  justify-content: center;
  align-items: center;
  background-image: url(./monet.jpeg);
  background-color: #dbcdda;
}
.signup-page-submit-btn {
  height: 50%;
  width: 100%;
  padding: 0.5em 3em;
  text-align: center;
  font-size: 16px;
  text-align: center;
  border-radius: 0.2em;
  border: 2px solid black;
  background-color: black;
  transition: 1s;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  /* margin-bottom: 10px; */
}

.signup-page-file-input::file-selector-button {
  padding: 0.5em 1em;
  border-radius: 0.2em;
  border: 2px solid #6c5ce7;
  background-color: #a29bfe;
  transition: 1s;
  cursor: pointer;
  font-size: 16px;
  /* margin-top: 5px; */
}

.signup-page-image {
  display: flex;
  position: relative;
  width: 50%;
  height: 102%;
  border: solid 2px black;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-right: 40px;
}

.signup-form {
  display: flex;
  width: 80%;
  height: 90%;
  border: 3px solid black;
  background-color: white;
}

.form-signup {
  margin: 40px;
}

.sign-header {
  margin-bottom: 35px;
}

.errors {
  color: red;
  font-size: 12px;
}

.error-input {
  border: 1px solid #e74c3c;
}
.carousel-logo-img-sign{
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  margin-top: 20px;
  object-fit: cover;
}
