.signup-page{
    display: flex;
    width: 100%;
    height: 900px;
}

.sign-back-line{
    display: flex;
    width: 50%;
    height: 100%;
    border: solid 2px black;
    justify-content: center;
    align-items: center;  
}

.sign-form-container{
    display: flex;
    width: 80%;
    height: 80%;
    border: solid 5px black;
    justify-content: center;
    align-items: center;
    background-image: url(./monet.jpeg);
    background-color:#dbcdda
}

.signup-page-image{
    display: flex;
    position: relative;
    width: 50%;
    height: 100%;
    border: solid 2px black;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.signup-form{
    width: 80%;
    height: 80%;
    border: 3px solid black;
    background-color: white;
}

.form-signup{
    margin: 40px;
}

.sign-header{
    margin-bottom: 35px;
}

/* .session-form input[type="file"]{
    display: block;
    box-sizing: border-box;
    width: 36%;
    margin: 0 0 18px;
    padding: 15px 168px;
    background: black;
    color: white;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.29em;
    cursor: pointer;
    text-align: center;
   
} */