
input[type=textarea] {
    min-height: 30px;
    min-width: 393px;
    margin-top: 5px;
  }

  .post-preview {
    min-height: 250px;
  }


  label {
    display: block;
    margin-top: 5px;
  }

  input[type=file] {
    margin-left: 5px;
  }
