.post-con {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  border: 2px solid black;
  width: 100%;
  height: auto;
  flex-direction: column;
  margin-bottom: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  background-image: url("joe-woods-4Zaq5xY5M_c-unsplash.jpg")

}

.loading-art {
  max-width: 200px;
  max-height: 200px;
}

.post-index-container {
  max-height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
}

.post-image {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  /* border: 2px solid black; */
}
.artist {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 15%;
  /* border: 2px solid black; */
  /* background-color: rgb(0, 0, 0); */
}
.artist h1 {
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 100px;
  font-size: 30px;
  /* color: aliceblue; */
  margin-top: 100px;
}

.artist-img {
  /* height: 100%;
  width: 100%; */
  border: 4mm ridge black;
  margin-bottom: 10px;
  box-shadow: rgb(13, 19, 25) 0px 20px 30px -10px;
  aspect-ratio: auto;
}
.artist-img img {
  /* max-height: 700px;
  width: 100%; */
  object-fit: cover;
  aspect-ratio: auto;
}
.artist-img p {
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: auto;
}
.post-det {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  width: 100%;
  height: 10%;
  align-items: center;
  /* border: 2px solid black; */
  margin-top: 20px;
  margin-left: 0px;
}

.profile-image {
  border: 0cap;
  border-radius: 50%;
  /* width: 100%; */
  /* height: 80%; */
  object-fit: cover;
}

.post-username {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
  /* border: 2px solid black; */
}
.username {
  width: 80%;
  height: 100%;
  /* border: 2px solid black */
}
.artist-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  /* border: 2px solid black; */
  background-color: rgb(0, 0, 0);
}
.post-like {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* width: 40%; */
  height: 90%;
  margin-left: 10px;
  margin-top: 0px;
  font-size: 18px;
  font-weight: bold;
}
.artist-name h1 {
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 1px;
  font-size: 18px;
  color: aliceblue;
}

.post-description {
  width: 100%;
  height: 10%;
  border-top: 1px solid black;
  /* border-bottom: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image {
  /* margin-top: 30px;
  margin-left: 20px; */
  width: 180px;
  height: 60px;
  border-radius: 50%;
}
.user-image img {
  height: 100%;
  width: 100%;
  margin-right: 10px;
}
.user-username {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-right: 3px solid black;
  margin-left: 20px;
}

.user-username a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
}
.user-username h3 {
  font-size: 25px;
  left: 0;
  letter-spacing: 2px;
  margin-left: 10px;
}

.make-post {
  height: 50px;
  width: 50px;
  border: 2px solid red;
}

/* .half-page{
    display: flex;
    width: 20%;
    height: 70%;
    border: 2px solid blue;
    top: 0;
    position: fixed;
    right: 0;
  } */
.post-page-container {
  height: 70%;
  width: 50%;
  /* border: 2px solid blue; */
}

/*------------------------------------------- */

* {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 800px;
  width: 800px;
  font-family: "Poppins", sans-serif;
  border-radius: 9px;
  background-color: #000;
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
.card h5 {
  position: absolute;
  font-size: 17px;
  font-weight: 900;
  top: 50px;
  left: 33px;
  color: white;
}
.card p {
  font-size: 12px;
  font-weight: 700;
  color: white;
  text-align: center;
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.card .rotate-img {
  width: 100%;
  height: 100%;
  z-index: 1000;
  object-fit: cover;
  transition: all 0.5s;
  transform-origin: 95% 50%;
  border-radius: 9px;
  position: absolute;
}
.card:hover .rotate-img {
  transform: rotate(-140deg);
}
.card small {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: 5px;
  top: 110px;
  z-index: 1000;
}

.index-page-new {
  width: 50%;
  height: 600px;

  /* border: 2px solid rgb(40, 133, 39); */
  margin: 10px;
}

.finally-happen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  background-image: url("joe-woods-4Zaq5xY5M_c-unsplash.jpg");
  /* position: absolute;
  z-index: -3; */

}

.post-like-comments {
  width: 100%;
  height: 30px;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;

}
.post-like-btn {
  font-size: 30px;
  margin-left: 5px;
}
.post-title {
  width: 100%;
  margin-left: 20px;
  font-size: 20px;
  margin-right: 5px;
  /* display: flex; */
  /* height: fit-content; */
  font-size: 12px;
}
.delete-edit-post-btn {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  margin-right: 5px;
}
.save-btn button {
  margin-right: 10px;
  text-align: center;
  font-size: 14px;
  text-align: center;
  border-radius: 0.2em;
  border: 2px solid #6c5ce7;
  background-color: #a29bfe;
  transition: 1s;
  border-radius: 5px;
  cursor: pointer;
}

.delete-edit-post-btn .delete-post-btn {
  margin-right: 10px;
  text-align: center;
  font-size: 12px;
  text-align: center;
  border-radius: 0.2em;
  border: 2px solid #6c5ce7;
  background-color: #a29bfe;
  transition: 1s;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 4px;
}

.delete-edit-post-btn .edit-post-btn {
  text-align: center;
  font-size: 12px;
  text-align: center;
  border-radius: 0.2em;
  border: 2px solid #6c5ce7;
  background-color: #a29bfe;
  transition: 1s;
  border-radius: 5px;
  cursor: pointer;
}

.delete-edit-post-btn .delete-post-btn:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

.delete-edit-post-btn .edit-post-btn:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

.right-side-art-box {

  aspect-ratio: auto;
  height: 350px;
  width: 400px;
  position: relative;
  display: flex;
  margin-bottom: 20px;
  /* margin-left: 50px; */
  margin-top: 50px;
  aspect-ratio: auto;
  justify-content: center;
  /* align-items: center; */
  /* border: 3mm ridge black; */
}

.index-page-right-side {
  height: auto;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  aspect-ratio: auto;
}

.post-card-page {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
}

.index-left-side {
  height: auto;
  width: 50%;
}
.index-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  height: auto;
  width: 50%;
}

.paper-box {
  /* width: 70%;
  max-height: 300PX;
  border: 2px solid black;
  padding: 10px;
  border: 1px solid #ddd;
  background-size: cover;
  background-clip: content-box;
  background-color: #FAF9F6;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  top: 30px;
  color: black;
  text-indent: 20px; */
  /* overflow: auto; */
}
.paper-box {
  position: relative;
  /* margin: 70px auto; */
  width: 60%;
  height: 280px;
  background: #f7f6f4;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;}

.paper-box::before,
.paper-box::after {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 1);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.paper-box:after {
  /* content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-bottom: 50px solid #fefefe;
  bottom: -60px;
  right: -65px;
  box-shadow: 0px 7px 6px -9px black;
  transform: rotate(135deg); */
  right: 15px;
  transform: skew(5deg) rotate(5deg);
}

.paper-box:before {
  /* content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-top: 50px solid #fefefe;
  top: -60px;
  left: -65px;
  box-shadow: 0px -7px 6px -9px black;
  transform: rotate(135deg); */
  left: 15px;
  transform: skew(-5deg) rotate(-5deg);
}
.paper-box:hover::before,
.paper-box:hover::after {
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
}

.paper-box:hover::before {
  left: 5px;
}

.paper-box:hover::after {
  right: 5px;
}

.top-part{
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 100%;

}

.profile-user-info{
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 100%;
}

.like-btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  height: 30%;
  width: 100%;
  border-bottom: 1px solid black;
}
.like-btn span{
  margin-left: 10px;
  margin-top: 12px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 20px;

}

.like-btn p{
  margin-left: 0px;
  margin-right: 15px;
  font-size: 20px;
  margin-bottom: 6px;



}
.photo{
  display: flex;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 20%;

}
.photo img {

  margin: 10px;
  width: auto;
  height: auto;
  aspect-ratio: auto;
}
.username-new{
  display: flex;
  align-items: center;
  height: 100%;
  width: 30%;

}

.username-new .name-link {
  text-decoration: none;
  margin-left: 5px;
  color: black;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
  margin-left: 1px;
}
.username-new span{
  margin-left: 5px;
  font-weight: 300;
}
.info{
  display: flex;
  height: 100%;
  width: 50%;
  align-items: center;
}

.info p{
  font-size: 13px;
  margin-left: 10px;
  margin-top: 10px;
overflow: scroll;}

.bottom-part{
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;

}
.comments-last{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;

}
.make-comment{
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 100%;

}
