.comment-pfp{
    height: 30px;
    width: 30px;
}

.comment-box {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }



.comment-box-username{
    height: 100%;
    width: 30%;
    display: flex;
    align-content: center;
    margin-right: 20px;
    margin-left: 5px;
}

.comment-box-username span{
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}
.comment-box-username img{
    border-radius: 50%;
}

.comment-box-comment{
    height: 100%;
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    margin-top: 6px;
}

.edit-delete-btn{
    height: 100%;
    width: 10%;
    display: flex;
    align-content: center;
    justify-content: flex-end;
}
.edit-delete-btn button{
    text-align: center;
    font-size: 12px;
    /* text-align: center; */
    border-radius: 0.2em;
    border: 2px solid #6c5ce7;
    background-color: #a29bfe;
    transition: 1s;
    border-radius: 5px;
    cursor: pointer;
    height: fit-content;
    margin: 5px;
}

.edit-delete-btn span{
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.submit-change-btn{
    text-align: center;
    font-size: 12px;
    text-align: center;
    border-radius: 0.2em;
    border: 2px solid #6c5ce7;
    background-color: #a29bfe;
    transition: 1s;
    border-radius: 5px;
    cursor: pointer;
}
.edit-delete-btn .delete-comment-btn{

    text-align: center;
    font-size: 12px;
    /* text-align: center; */
    border-radius: 0.2em;
    border: 2px solid #6c5ce7;
    background-color: #a29bfe;
    transition: 1s;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}
.delete-comment-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }

.edit-delete-btn{
    display: flex;
    width: 100%;
}


.edit-delete-btn .delete-comment-btn:hover{
    background-color: #81ecec;
    border: 2px solid #00cec9;
}

.comment-form-container{
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 15px;
}
/* .comment-form-container span{
margin-left: 5px;
} */

.comment-box-out{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: scroll;
    margin-top: 10px;
}

.photo-part{
    display: flex;
    flex-direction: row;
    width: 15%;
    height: 100%;
    margin-left: 18px;
}

.photo-part-img{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    width: 50%;
    height: 100%;
}
.photo-part-name{
    display: flex;
    flex-direction: row;
    width: 33%;
    height: 100%;
}

.comment-part{
    display: flex;
    word-break: break-word;
    width: 60%;
    height: 100%;
    margin-left: 10px;
}

.btn-part{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    margin-right: 5px;

}

.cmt-btn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin-left: 25px;
  }

  .cmt-btn span {
    display: flex;
    align-items: center;
  }

  .cmt-btn p {
    font-size: 12px;
  }

  .cmnt-icon {
    margin-right: 0.5rem;
  }



.photo-part-name span{
    font-weight: bold;
    cursor: pointer;
}
.photo-part-img img{
    border-radius: 50%;
}

.comment-part p{
    margin-left: 10px;
}


.text-input{
    margin-left: 16px;
    height: 50%;
}

.comment-box-out {
    /* height: 200px;
    width: 100%; */
    position: relative;
    overflow-y: auto;
    min-height: 150px;
  }

  .input-extended {
    width: 90%;
  }

  /* .paper-box {
    width: 300px;
  } */

  @media screen and (max-width: 1060px) {
    .paper-box {
      display: none;
    }
  }

  .comment-box textarea {
    height: auto;
    min-height: 16px;
    overflow: hidden;
    resize: none;
  }
