.carousel-container {
    background-color: none;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.carousel-item{
    height: 20rem;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

