.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px; /* Add padding to create space between input and container border */

}


  .search-bar input {
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    /* margin-left: 10px; */
    font-weight: 24px;
    padding: 10px;
    margin-bottom: 8px;
  }


  .search-bar-container {
    color: white;
  }


  .search-text {
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    padding: 10px;
    margin: 8px;
    width: 90%;
    max-width: 400px; 
    box-sizing: border-box; 
  }


  .search-bar-container {
    color: white;
  }

  .search-bar-container input::placeholder {
    color: white; /* Default color */
  }

  .search-bar-container input:focus::placeholder {
    color: gray; /* Color when input is focused */
  }

  .search-icon {
    display: none;
  }
  
  
