.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .details {
    position: relative; /* Add this line */
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    max-width: 85%;
    max-height: 85%;
    width: auto;
    height: auto;
    overflow: auto;
  }
  
  .close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 15px;
    padding: 5px;
    background-color: #f5f5f5;
    border: 1px;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 5px;
  }

  .close-button:hover {
    background-color: #e0e0e0;
  }
  