
.box-body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fafafa;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* .image-gallery {
  width: 50%;
  max-width: 950px;
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-gap: 20px;
  z-index: 0;
} */

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  height: 50%;

}

.image-box {
  flex-basis: calc(33.33% - 20px); /* Adjust the width of each image box based on the number of images you want to display per row */
  margin-bottom: 20px;
}


.image-gallery .image-box {
  position: flex;
  background-color: aliceblue;
  overflow: hidden;
  border: 1mm ridge #d4af37;
  z-index: 0;
}

.image-gallery .image-box:nth-child(7n+1) {
  grid-column: span 2;
  grid-row: span 2;
}

.image-gallery .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.image-gallery .image-box:hover img {
  transform: scale(1.1);
}

.image-gallery .image-box .overlay {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fafafaf2;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 1;
}

.image-gallery .image-box:hover .overlay {
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  opacity: 1;
  position: relative;
}

.image-gallery .image-box .details {
  text-align: center;
}

.image-gallery .image-box .details .title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  top: -5;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.image-gallery .image-box .details .category {
  font-size: 18px;
  font-weight: 400;
  position: relative;
  bottom: -5;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3 0.2s ease;
}

.image-gallery .image-box:hover .details .title {
  top: 0px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.image-gallery .image-box:hover .details .category {
  bottom: 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s 0.2s ease;
}

.image-gallery .image-box .details .title a,
.image-gallery .image-box .details .category a {
  color: black;
  text-decoration: none;
}
/*
@media screen and (min-width: 9000px) {
  .image-gallery {
    grid-template-columns: repeat(auto-fit, minimax(250px, 1fr));
    grid-auto-rows: 250px;
  }

  .image-gallery .image-box:nth-child(7n+1) {
    grid-column: unset;
    grid-row: unset;
  }
} */

@media screen and (max-width: 768px) {
  .image-box {
    flex-basis: calc(50% - 20px); /* Adjust the width for smaller screens */
  }
}

.image-box {
  transition: all 0.5s ease;
}

.image-box.expanded {
  transform: scale(1);
}


.image-gallery .image-box {
  position: relative;
  background-color: aliceblue;
  overflow: hidden;
  border: 4mm ridge #d4af37;
  z-index: 0;
  transition: all 0.5s ease;
}

.image-gallery .image-box.expanded {
  z-index: 1;
  transform: scale(1);
}

.image-gallery .image-box.expanded img {
  transform: scale(0.9);
}




.openModalBtn {
  background-color: none;
  border: none;
  color: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
}





.post-container {
  position: fixed; /* Change position to fixed */
  top: 0; /* Position the container at the top of the screen */
  left: 0; /* Position the container at the left of the screen */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Set the container height to cover the full viewport height */
}

.post-page-container {
  height: 90%;
  width: 50%;
  background-color: #fff; /* Add a background color to the container */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow for a visual effect */
  overflow-y: auto; /* Add vertical scrolling if needed */
}
























































/* .box-body{
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fafafa;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image-gallery{
  width: 50%;
  max-width: 950px;
  margin: 0 auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-gap: 20px;
  position: relative;
  z-index: 0;
}

.image-gallery .image-box{
  position: relative;
  background-color: aliceblue;
  overflow: hidden;
  border: 4mm ridge #d4af37;
  z-index: 0;
  }

.image-gallery .image-box:nth-child(7n+1){
  grid-column: span 2;
  grid-row: span 2;
}

.image-gallery .image-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.image-gallery .image-box:hover img{
  transform: scale(1.1)
}


.image-gallery .image-box .overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fafafaf2;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 1;
}

.image-gallery .image-box:hover .overlay{
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  opacity: 1;
}

.image-gallery .image-box .details{
  text-align: center;
}

.image-gallery .image-box .details .title{
margin-bottom: 8px;
font-size: 24px;
font-weight: 600;
position: relative;
top: -5;
opacity: 0;
visibility: hidden;
transition: all 0.3 ease;
}
.image-gallery .image-box .details .category{
  font-size: 18px;
  font-weight: 400;
  position: relative;
  bottom: -5;
  opacity: 0;
visibility: hidden;
transition: all 0.3 0.2s ease;
}

.image-gallery .image-box:hover .details .title{
  top: 0px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3 ease;
}


.image-gallery .image-box:hover .details .category{
  bottom: 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.3 0.2s ease;
}

.image-gallery .image-box .details .title a,
.image-gallery .image-box .details .category a{
  color: black;
  text-decoration: none;
}


@media screen and (min-width: 9000px) {
.image-gallery{
  grid-template-columns: repeat(auto-fit, minimax(250px, 1fr));
  grid-auto-rows: 250px;
}
.image-gallery .image-box:nth-child(7n+1){
  grid-column: unset;
  grid-row: unset;
}
}




.profile-index-item {
  display: flex;
  align-items: flex-start;
}

.image-box {
  flex: 1;
  margin-right: 20px;
}

.comments-container {
  flex: 1;
}

.comment-index-container {
  position: relative;
  left: 50px;
  margin-bottom: 20px;

}


.image-gallery .image-box.expanded {
  grid-column: span 2;
  grid-row: span 2;
  width: 100% !important;
  height: 100% !important;
}

.image-gallery .image-box.expanded img {
  transform: scale(1.1);
}

.image-gallery .image-box.expanded .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}

.image-gallery .image-box.expanded .details .title {
  top: 0px;
  opacity: 1;
  visibility: visible;
}

.image-gallery .image-box.expanded .details .category {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}

.image-gallery .image-box.expanded .details .category {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}



.image-box {
  transition: all 0.5s ease;
}

.image-box.expanded {
  transform: scale(1.2);
} */
