.profile-page-body{
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    z-index: 0;
    background-image: url("joe-woods-4Zaq5xY5M_c-unsplash.jpg")

}

.image-username-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
  
    /* border: 2px solid red; */
}
.container-for-profile{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}
.member-date{
    width: 60%;
    height: 50%;
    display: flex;
    /* border: 6px dotted black; */
    border-radius: 3%;
    justify-content: center;
    align-items: center;
    border: 4px solid #6c5ce7;;
    background-color: #a29bfe;
 border-radius: 40%;
}

.profile-info-bar{
   
    /* background-color: rgba(146, 130, 130, 0.985); */
    /* border: 4mm ridge #d4af37;   */
    /* border-radius: 10%;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    box-shadow: 10px 5px 5px #a29bfe */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
    width: 50%;
    height: 400px;
    background-color: whitesmoke;
    /* border: 4mm ridge #d4af37; */
    border-radius: 3px;
    border-bottom: 4px solid #d2c7c7;
    /* border-top: 4px solid black; */
    box-shadow: 3px 3px 3px #5f5c5c;
}

.member-since{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    flex-direction: column;
    margin-top: 10px;
}


.profile-image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 40px;
    width: 30%;
    height: 70%;
    /* border: 5mm ridge black; */
    /* border-bottom: 4px solid black; */
    /* border-top: 4px solid black; */
    box-shadow: 10px 5px 5px #1a1a1c;
    border-radius: 6%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 1;
}

.profile-info-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 55%;
    z-index: 2;
    margin-bottom: 10px;

}

.profile-image-box img{
    width: 100%;
    height: 100%;
    border-radius: 6%;
    /* -webkit-filter: grayscale(100%);     */
    /* filter: grayscale(100%); */
    /* object-fit: cover; */
}

/* .profile-image-box img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    } */
.profile-username-container{
width: 50%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-left: 10px;

}
.profile-username{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    color: black;
}

.number-of-posts{
    font-size: 30px;
    color: white;
    font-weight: bolder;
}

.user-bio{
    color: black;
    font-size: 18px;
    overflow-wrap: break-word;
    align-self: center;
    margin: 40px;
}

.how-many-posts{
    border-radius: 40%;
    margin-bottom: 3px;

    width: 60%;
    height: 50%;
    display: flex;
    /* border: 6px dotted black; */
    border-radius: 3%;
    justify-content: center;
    align-items: center;
    border: 4px solid #ffffff;
    background-color: #ebebeb;
    box-shadow: 3px 3px 4px black;
    border-radius: 4%;
    margin-bottom: 3px;

}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    background-image: url("joe-woods-4Zaq5xY5M_c-unsplash.jpg")
}

.loading-art {
    max-width: 200px;
    max-height: 200px; 
}
