
 .posts-container {
  background-image: url("../../joe-woods-4Zaq5xY5M_c-unsplash.jpg")
  }
  /* .search-results {
    border: 3px solid #000;
    box-sizing: border-box;
    padding: 10px;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 15px;
  }

  .search-results2 {
    color: rgb(98, 95, 95);
    font-size: 24px;
    font-weight: bold;
    font-family: Papyrus, fantasy;
    text-align: center;
    margin-top: 20px;
  }  */

  .scroll-down {
    color: rgb(98, 95, 95);
    font-size: 16px;
    font-weight: bold;
    font-family: Papyrus, fantasy;
    text-align: center;
  }
